<h3>Seleccione un mes: </h3>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="form-group">
      <select class="form-control" id="mesAConsultar" [(ngModel)]="mes" name="mes">
        <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
      </select>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <button class="btn-default" (click)="consultarGastosDelMes()" [disabled]="!consultarButtonEnabled">Consultar</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h4>Total del mes {{mes}}: ${{totalDeGastosDelMes}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <table class="table table-striped">
      <tr>
        <th>Fecha</th>
        <th>Rubro<br/><i>Notas</i></th>
        <th>Monto</th>
        <th></th>
      </tr>
      <tr *ngFor="let gasto of gastosDelMes">
        <td>{{gasto.fecha}}</td>
        <td>{{gasto.rubro}}<br/><i>{{gasto.notas}}</i></td>
        <td>{{gasto.monto}}</td>
        <td>
          <button class="btn btn-xs btn-danger" (click)="eliminarGasto(gasto)">Del</button>
        </td>
      </tr>
    </table>
  </div>
</div>
