<form (ngSubmit)="onSubmit()" #nuevoGastoForm="ngForm">
  <h3>Ingrese Nuevo Gasto: </h3>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="fechaGasto">Fecha</label>
        <input type="date" class="form-control" id="fechaGasto" required [(ngModel)]="model.fecha" name="fecha">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="rubroGasto">Rubro</label>
        <select class="form-control" id="rubroGasto" required [(ngModel)]="model.rubro" name="rubro">
          <option *ngFor="let itemRubro of rubros" [value]="itemRubro">{{itemRubro}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="montoGasto">Monto</label>
        <input type="number" class="form-control" id="montoGasto" required [(ngModel)]="model.monto" name="monto">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="notasGasto">Notas</label>
        <input type="text" class="form-control" id="notasGasto" [(ngModel)]="model.notas" name="notas">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!nuevoGastoForm.form.valid||!crearButtonEnabled">Crear</button>
  <h4>Total del mes {{mesActual}}: ${{totalDelMesActual}}</h4>
</form>